-
    const dir = '../';

include ../../includes/head

//- Section 1
<section class="slide fade-6 after " data-title="Slide #16 (16)" data-name="slide-16-19c87e70">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-12-12">
                    <ul class="flex fixedSpaces reverse">
                        <li class="col-5-12 left">
                            <h1 class="margin-top-1 margin-bottom-2 ae-1 fromLeft">Your App Website. Made Simple.</h1>
                            <p class="large ae-2 fromLeft"><span class="opacity-8">Get to know our brand new app for making easy your regular process.</span></p>
                            <a href="#" class=" crop ae-3 fromCenter margin-right-2"><img src="#{dir}assets/img/homepage/elements/appstore.jpg" alt="" width="180"></a>
                            <a href="#" class=" crop ae-3 fromCenter"><img src="#{dir}assets/img/homepage/elements/googleplay.jpg" alt="" width="190"></a>
                        </li>
                        <li class="col-1-12"></li>
                        <li class="col-6-12">
                            <div class="videoThumbnail rounded shadow popupTrigger ae-4 fromCenter margin-bottom-tablet-4" data-popup-id="16-16">
                                <img class="" style="width: 300px; height: 500px" src="#{dir}assets/img/homepage/elements/cell-001.png"  alt="Video Thumbnail">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="background" style="background-image:url(#{dir}assets/img/homepage/backgrounds/pencas.jpg)"></div>
</section>

//- Section 2
<section class="slide fade-6 whiteSlide animate active selected" data-title="Slide #47 (47)" data-name="slide-47-97f83d12">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-9-12 toCenter">
                    <p class="small text-gray weight-7">KEY SPECIFICS</p>
                    <h2 class="smaller margin-bottom-2 done weight-9">General Features.</h2>
                    <p class="large done"><span class="opacity-8">Make a gallery here of your app?s screenshots. <br>
                        Choose only catchy ones to interest potential users.</span></p>
                </div>
                <div class="fix-11-12">
                    <ul class="flex flex-49 margin-top-3">
                        <li class="col-4-12 col-tablet-1-2 col-phablet-1-1">
                            <div class="fix-3-12 done">
                                <i class="material-icons text-gray ">fingerprint</i>
                                <h4 class="smallest margin-bottom-1 weight-7 text-gray2">Protetion</h4>
                                <p class="small opacity-8">Design is the conscious effort to impose a meaningful&nbsp;order.</p>
                            </div>
                        </li>
                        <li class="col-4-12 col-tablet-1-2 col-phablet-1-1">
                            <div class="fix-3-12 done">
                                <i class="material-icons text-gray ">switch_camera</i>
                                <h4 class="smallest margin-bottom-1 weight-7 text-gray2">File Manager</h4>
                                <p class="small opacity-8">Getting addicted to design is really bad for&nbsp;design.</p>
                            </div>
                        </li>
                        <li class="col-4-12 col-tablet-1-2 col-phablet-1-1">
                            <div class="fix-3-12 done">
                                <i class="material-icons text-gray ">notifications_off</i>
                                <h4 class="smallest margin-bottom-1 weight-7 text-gray2">Notifications</h4>
                                <p class="small opacity-8">Art is making something out of nothing and selling&nbsp;it.</p>
                            </div>
                        </li>
                        <li class="col-4-12 col-tablet-1-2 col-phablet-1-1">
                            <div class="fix-3-12 done">
                                <i class="material-icons text-gray ">voice_chat</i>
                                <h4 class="smallest margin-bottom-1 weight-7 text-gray2">Video Calls</h4>
                                <p class="small opacity-8">It’s all fun and games until someone breaks a&nbsp;link.</p>
                            </div>
                        </li>
                        <li class="col-4-12 col-tablet-1-2 col-phablet-1-1">
                            <div class="fix-3-12 done">
                                <i class="material-icons text-gray ">person</i>
                                <h4 class="smallest margin-bottom-1 weight-7 text-gray2">User Experience</h4>
                                <p class="small opacity-8">The definition of an expert is someone who knows what not to&nbsp;do.</p>
                            </div>
                        </li>
                        <li class="col-4-12 col-tablet-1-2 col-phablet-1-1">
                            <div class="fix-3-12 done">
                                <i class="material-icons text-gray ">place</i>
                                <h4 class="smallest margin-bottom-1 weight-7 text-gray2">Geo Location</h4>
                                <p class="small opacity-8">Getting addicted to design is really bad for&nbsp;design.</p>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</section>

//- Section 3
<section class="slide fade-6 kenBurns animate active selected" data-title="Slide #35 (35)" data-name="slide-35-73023d3a">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-9-12 toCenter">
                    <p class="small text-gray weight-7">MORE PHOTOS</p>
                    <h3 class="margin-bottom-3 done weight-9">It?s Your Field to Present Product</h3>
                    <p class="large light done"><span class="opacity-8">Take a walk. Dance a jig. Get some sun. Don’t take yourself too serious. Cook something ethnic. Play the 3 chords you know on guitar. Go get&nbsp;coffee.</span></p>
                    <a href="#" class="crop button green smallShadow ae-4 done">Learn more</a>
                </div>
                <div class="fix-12-12 done">
                    <img class="iphone-35  margin-top-10 img-128 fromBottom ae-5 done" src="#{dir}assets/img/homepage/brands/app-img-2.png" data-action="zoom" width="900" alt="iPhone App">
                </div>

            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(#{dir}assets/img/homepage/backgrounds/cascada.jpg)"></div>
</section>

//- Section 4
<section class="slide fade-6 whiteSlide selected animate active" data-title="Slide #46 (46)" data-name="slide-46-38020601">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-9-12 toCenter margin-bottom-5">
                    <p class="small text-gray weight-7">MORE PHOTOS</p>
                    <h3 class="margin-bottom-3 done weight-9">Everything On Your Wrist</h3>
                    <p class="large light done"><span class="opacity-8">If your app supports Apple Watch - tell the world about it too! <br>
                        Dont miss a chance to advertise your product in every case.</span></p>
                </div>
                <div class="fix-12-12">
                    <ul class="flex flex-46 ">
                        <li class="col-4-12 box-46">
                            <a href="#" class=" empty shadow rounded crop done"><img class="rounded" src="#{dir}assets/img/homepage/cards/app-img-3-1.png" alt="Image Thumbnail" width="200"></a>
                            <h4 class="equalElement weight-7 smaller margin-top-3 margin-bottom-1 done" style="height: 26.25px;">Inspiration</h4>
                            <div class="done"><p class="opacity-8">Art is making something out of nothing and selling it.</p></div>
                        </li>
                        <li class="col-4-12 box-46">
                            <div class="videoThumbnail rounded shadow video-46 popupTrigger toLeft done" data-popup-id="46-46"><img class="rounded" src="#{dir}assets/img/homepage/cards/app-img-3-2.png" alt="Video Thumbnail"  width="200"></div>
                            <h4 class="equalElement weight-7 smaller margin-top-3 margin-bottom-1 done" style="height: 26.25px;">Information</h4>
                            <div class="done"><p class="opacity-8">Designers are very fickle. I never wanted to be a victim of that.</p></div>
                        </li>
                        <li class="col-4-12 box-46">
                            <a href="#" class="button empty shadow rounded crop done"><img class="rounded" src="#{dir}assets/img/homepage/cards/app-img-3-3.png" alt="Image Thumbnail"  width="200"weight-7 ></a>
                            <h4 class="equalElement weight-7 smaller margin-top-3 margin-bottom-1 done" style="height: 26.25px;">Best Kept Secret</h4>
                            <div class="done"><p class="opacity-8">Sometimes you have to keep ideas for decades before they have any use.</p></div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</section>

//- Section 5
<section class="slide fade-6 kenBurns selected animate active" data-title="Slide #82 (82)" data-name="slide-82-540f8f16">
    <div class="content">
        <div class="container">
            <div class="wrap">
                <div class="fix-7-12 noSelect">

                    <div class="fix-8-12 margin-top-2">
                        <p class="small text-gray weight-7">SAVE THE CLIPS</p>
                        <h2 class="largest margin-bottom-2 weight-9">See App in Action</h2>
                        <div class="ae-6 fromrRight">
                            <p class="large margin-bottom-3 opacity-8">It?s time show a video showcase of your app in action.<br>
                                You can choose different flows in this section.</p>

                        </div>
                    </div>

                    <div class="relative">

                        <div class="leftControl-82   done" data-slider-id="82-82" data-slider-action="prev"><i class="material-icons text-gray p largest ">arrow_back</i></div>
                        <div class="rightControl-82  done" data-slider-id="82-82" data-slider-action="next"><i class="material-icons text-gray p largest">arrow_forward</i></div>
                        <ul class="slider clickable animated margin-bottom-2 fadeIn done" data-slider-id="82-82">

                            <li class="selected"><img src="#{dir}assets/img/homepage/cards/app-img-4-1.png" class="wide" alt="iPhone Thumbnail"></li>
                            <li><img src="#{dir}assets/img/homepage/cards/app-img-4-2.png" class="wide" alt="iPhone Thumbnail"></li>
                            <li><img src="#{dir}assets/img/homepage/cards/app-img-4-3.png" class="wide" alt="iPhone Thumbnail"></li>
                        </ul>
                        <ul class="controller dots fromBottom done" data-slider-id="82-82">
                            <li class="dot selected"></li>
                            <li class="dot"></li>
                            <li class="dot padding-bottom-3"></li>
                        </ul>
                        <h5 class="weight-7 -">How to add records</h5>
                        <p class="small">Simply tap on one of the fields to <br>
                            add it to our database.</p>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(#{dir}assets/img/homepage/backgrounds/desierto.jpg)"></div>
</section>

//- Section 6
<section class="slide fade-6 whiteSlide kenBurns selected animate active" data-title="Slide #82 (82)" data-name="slide-82-540f8f16">
    <div class="content">
        <div class="container">
            <div class="wrap">
                <div class="fix-12-12 noSelect">

                    <div class="fix-8-12 ">
                        <p class="small text-gray weight-7">HAPPY USERS</p>
                        <h3 class="largest margin-bottom-2 weight-9">What They Say</h3>
                        <p class="margin-bottom-6 large opacity-8 ae-2 done">Your app is the best product potential users will ever use.<br>Select reviews, that describe better your app.</p>
                    </div>

                    <div class="flex center">
                        <div class="fix-12-12-12">
                            <ul class="flex ">
                                <li class="fix-4-12">
                                    <i class="material-icons boton-mostaza">star</i>
                                    <i class="material-icons boton-mostaza">star</i>
                                    <i class="material-icons boton-mostaza">star</i>
                                    <i class="material-icons boton-mostaza">star</i>
                                    <i class="material-icons boton-mostaza padding-bottom-2">star</i>
                                    <h4 class="small weight-7 ">Amazing app!</h4>
                                    <p>I love this app - the functionality and look and feel are second to none! One of my top 5 apps on my phone! So glad I found it.</p>
                                    <p class="small text-gray">by Mahmud12323, App Store</p>
                                </li>
                                <li class="fix-4-12">
                                    <i class="material-icons boton-mostaza">star</i>
                                    <i class="material-icons boton-mostaza">star</i>
                                    <i class="material-icons boton-mostaza">star</i>
                                    <i class="material-icons boton-mostaza">star</i>
                                    <i class="material-icons boton-mostaza padding-bottom-2">star</i>
                                    <h4 class="small weight-7 ">Simple and effective.</h4>
                                    <p>I love this app - the functionality and look and feel are second to none! One of my top 5 apps on my phone! So glad I found it.</p>
                                    <p class="small text-gray">by Mahmud12323, App Store</p>
                                </li>
                            </ul>
                            <ul class="flex  padding-top-3">
                                <li class="fix-4-12">
                                    <i class="material-icons boton-mostaza">star</i>
                                    <i class="material-icons boton-mostaza">star</i>
                                    <i class="material-icons boton-mostaza">star</i>
                                    <i class="material-icons boton-mostaza">star</i>
                                    <i class="material-icons boton-mostaza padding-bottom-2">star</i>
                                    <h4 class="small weight-7 ">This app is just priceless.</h4>
                                    <p>I love this app - the functionality and look and feel are second to none! One of my top 5 apps on my phone! So glad I found it.</p>
                                    <p class="small text-gray">by Mahmud12323, App Store</p>
                                </li>
                                <li class="fix-4-12">
                                    <i class="material-icons boton-mostaza">star</i>
                                    <i class="material-icons boton-mostaza">star</i>
                                    <i class="material-icons boton-mostaza">star</i>
                                    <i class="material-icons boton-mostaza">star</i>
                                    <i class="material-icons text-gray padding-bottom-2">star</i>
                                    <h4 class="small weight-7 ">Great — simple and really useful.</h4>
                                    <p>I love this app - the functionality and look and feel are second to none! One of my top 5 apps on my phone! So glad I found it.</p>
                                    <p class="small text-gray">by Mahmud12323, App Store</p>
                                </li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

//- Section 7
<section class="slide fade-6 kenBurns animate active selected" data-title="Slide #76 (76)" data-name="slide-76-759a93ae">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-12-12">
                    <ul class="flex reverse verticalCenter ">
                        <li class="col-6-12 left">

                            <h2 class="large  margin-bottom-2 done weight-7 ">Get Started Now</h2>
                            <p class="done larger"><span class="opacity-8">What are you waiting for? Our app is available on all <br>
                                platforms and Free. No hidden payments.</span></p>
                            <a href="#" class=" crop ae-3 fromCenter margin-right-2"><img src="#{dir}assets/img/homepage/elements/appstore.jpg" alt="" width="180"></a>
                            <a href="#" class=" crop ae-3 fromCenter"><img src="#{dir}assets/img/homepage/elements/googleplay.jpg" alt="" width="190"></a>

                        </li>
                        <li class="col-6-12 left fromAbove done">
                            <img class="iphone-76" width="722" src="#{dir}assets/img/homepage/brands/app-img-5-2.png" alt="iPhone Image" data-action="zoom">
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(#{dir}assets/img/homepage/backgrounds/pinos.jpg)"></div>
</section>

//- Section 8
<section class="slide fade-6 whiteSlide kenBurns animate active selected" data-title="Slide #68 (69)" data-name="slide-69-ceb1ab20">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-9-12 toCenter">
                    <h1 class="smaller margin-bottom-2 done">The Biggest Cliche</h1>
                    <p class="larger light margin-bottom-4 done"><span class="opacity-8">There is only you and your camera. The limitations in your photography are in yourself, for what we see is what we are.</span></p>
                </div>
                <div class="fix-12-12">
                    <ul class="flex  fixedSpaces later flex-69 equal equalMobile popupTrigger controller" data-popup-id="69-68" data-slider-id="69-68">
                        <li class="col-4-12 margin-bottom-phablet-2">
                            <div class="box-69 cursorZoomIn rounded equalElement selected done" style="background-image: url(#{dir}assets/img/homepage/cards/montanasylagos.jpg); height: 354.391px;">
                                <div class="table cell-69 equalElement" style="height: 354.391px;">
                                    <div class="cell">
                                        <p class="smallest bold uppercase padding-bottom-2 cropBottom opacity-8 uppercase">5 mins read</p>
                                        <h4 class="smallest bold uppercase cropBottom opacity-8">Everything about the<br>
                                            app launch</h4>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="col-4-12 margin-bottom-phablet-2">
                            <div class="box-69 cursorZoomIn rounded equalElement done" style="background-image: url(#{dir}assets/img/homepage/cards/mar-espuma.jpg); height: 354.391px;">
                                <div class="table cell-69 equalElement" style="height: 354.391px;">
                                    <div class="cell">
                                        <p class="smallest bold uppercase padding-bottom-2 cropBottom opacity-8 uppercase">10 mins read</p>
                                        <h4 class="smallest bold uppercase cropBottom opacity-8">How we almost ruined <br>
                                            our business.</h4>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="col-4-12 margin-bottom-phablet-2">
                            <div class="box-69 cursorZoomIn rounded equalElement done" style="background-image: url(#{dir}assets/img/homepage/cards/iguana.jpg); height: 354.391px;">
                                <div class="table cell-69 equalElement" style="height: 354.391px;">
                                    <div class="cell">
                                        <p class="smallest bold uppercase padding-bottom-2 cropBottom opacity-8 uppercase">2 mins read</p>
                                        <h4 class="smallest bold uppercase cropBottom opacity-8">On the way to 1M <br>
                                            downloads.
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="fix-5-12 margin-top-8">
                    <h5 class="margin-bottom-3 done weight-7">Subscribe for Newsletter</h5>
                    <p class="text-gray2">Fresh stuff about startup tech and news. No spam!</p>
                    <form action="#" autocomplete="off" class="slides-form margin-bottom-3">
                        <input type="email" class="x fromLeft done" name="email" placeholder="Email">
                        <button type="submit" class="button blue rounded fromRight done" name="submit">Suscribete</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

include ../../includes/footer

